*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* use percentage to allow for browser font resizing
     defines what one REM is */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
